*
    margin: 0
    padding: 0

.div1_navbar
    width: 50vw
.modale
    display: flex
    align-items: center
    justify-content: center
    height: 80vh
    display: none

    .content
        background: #000
        width: 50vw
        height: 56.2vh
        display: none
        .login
            background: red
            width: 75vw
            height: 50vh  
            display: block
            display: flex
            justify-content: center
            align-items: center
            display: none
        .sign
            background: green 
            width: 75vw
            height: 50vh  
            display: block
        .close
            right: 10px
            top: -45px
