*
    margin: 0
    padding: 0
.hero
    background: #c6c3c3
    width: 98.93vw
    height: 98vh
.book
    top: 200vh
    right: 62vw
.img2
    height: 87vh
    width: 45vw !important
.video
    display: none
    position: absolute
    right: 8vw
    top: -38vh
.video1
    display: none
    position: absolute
    right: 8vw
    top: -70vh
.fermer1
    display: none
    position: absolute
    right: 6.5vw
    top: -73vh
    background: black
    color: white
    padding: 5px 15px
    border-radius: 50%
    cursor: pointer
.fermer
    display: none
    position: absolute
    right: 6.5vw
    top: -41vh
    background: black
    color: white
    padding: 5px 15px
    border-radius: 50%
    cursor: pointer
    // z-index: 999
.blur
    // filter: blur(5px)
    // -webkit-filter: blur(5px)
    // -moz-filter: blur(5px)
    // -o-filter: blur(5px)
    // -ms-filter: blur(5px)
#video
    cursor: pointer
// .office
//     height: fit-content
//     width: 100vw
.playvd
    background-image: url(../img/about-2.jpg)
    background-position: center
    background-size: cover
    height: 37.8vh


// .img_vd
//     position: relative
// .play
//     position: absolute
//     height: 30vh
.choose
    height: 70vh
// #Starter
//     display: none !important
.sara
    border-left: 4px solid red
.carousel
    position: relative
    overflow: auto
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none
.btnCarsl
    position: absolute
    top: 650vh
    width: 92vw
    padding: 10px

.event1
    background: #000
    height: 90vh
    width: 40vw
    .parties
        height: 90vh
        width: 40vw
.custom
    top: 50vh
    left: 3vw
.private
    top: 50vh
    left: 45vw
.birth
    top: 50vh
    left: 87vw

.wallter
    background: #e2e2e2
    height: 30vh
    width: 26.7vw
    position: absolute
    top: 750vh
.sarah
    background: #e2e2e2
    height: 30vh
    width: 26.8vw
    position: absolute
    right: 36vw
    top: 750vh

.william
    background: #e2e2e2
    height: 30vh
    width: 26.7vw
    position: absolute
    right: 6.3vw
    top: 750vh
.chefs
    background: #cbcbcb
    height: 110vh
textarea
    resize: none
    height: 25vh

.nbrs
    background-position: center
    background-image: url('../img/stats-bg.jpg')
    background-attachment: fixed
    background-size: cover
    width: 98.8vw
    height: 55vh
.stat
    background: #000000ba
    height: 55vh
    width: 100%
.facion1
    background: url('../img/team-shape\(1\).svg')
    background-repeat: no-repeat
    z-index: 999

.item
    width: 33.5%

.btnSide
    background: red
    width: 80px
    height: 80px
    border-radius: 50%
    position: fixed
    bottom: 15px  
    right: 10px
    padding: 20px
    // display: none
@media (max-width : 426px)
    body
        overflow-x: hidden
    .hero
        flex-direction: column-reverse
        gap: 3vh
        padding: 20px
        .hero_img
            width: 90%
            justify-content: center
            margin-left: 1.5rem
        .enjoy
            display: flex
            flex-direction: column
            align-items: center
        .food
            width: 80% !important
            text-align: center
        .sed
            width: 90% !important
            text-align: center
    .about
        flex-direction: column
        .img2
            width: 110% !important
            // display: flex
            // justify-content: center !important
            // margin-right: 7rem

        .book
            top: 190vh
            width: 70% !important
            right: 10vw
        .img_vd
            width: 100% !important
            margin-top: 3vh
    .shoose
        flex-direction: column
        padding: 0
        .choose
            height: 100%
            .yummy
                width: 120% !important
        .btn
            position: relative
            .enter
                position: absolute
                top: -3px
    #Starter
        flex-direction: column

    .name
        flex-direction: column
        width: 100%
    .chefs
        height: 100%
    .shef
        flex-direction: column
        .chef
            width: 100% !important
    .wallter
        top: 1500vh
    .carsl
        flex-direction: column-reverse
        .para_client
            width: 70vw !important
            margin-right: 0 !important
        .client
            width: 100%
    .map
        width: 90% !important
        height: 400px
    .contact
        flex-direction: column
        padding: 0 !important
        .contact2
            padding: 30px
        .contact1
            padding: 0 !important
            margin-top: 2vh
        .adress
            width: 150% !important

        .name
            width: 100% !important
    .stat
        flex-direction: column
        text-align: center
    .Contact
        overflow-x: hidden
    .contat
        padding: 0 !important
    #home²
        display: none
