*
    margin: 0
    padding: 0
.hero
    background: #c6c3c3
    width: 98.93vw
    height: 98vh
.book
    top: 200vh
    right: 62vw
.img2
    height: 87vh
    width: 45vw !important
// .office
//     height: fit-content
//     width: 100vw

.choose
    height: 70vh